<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
        <h1 class="appear-enter">Yift The Messenger</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
        <p class="slide-from-bottom">
          Delivering lightning fast messages to friends and family
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
      <form name="messageForm" ng-submit="$ctrl.sendMessage()" novalidate>

        <div class="alert alert-success" ng-show="$ctrl.showSuccessAlert">
          <button type="button" class="close" data-ng-click="$ctrl.showSuccessAlert = !$ctrl.showSuccessAlert" >×</button>
          <strong>Success!</strong> Your message has been sent.
        </div>

        <div class="alert alert-danger" ng-show="$ctrl.showErrorAlert">
          <button type="button" class="close" data-ng-click="$ctrl.showErrorAlert = !$ctrl.showErrorAlert" >×</button>
          <strong>Error!</strong> We were not able to deliver your message.
        </div>

        <div class="form-group text-center">
          <label>Type</label>
          <div>
            <div class="btn-group">
              <label class="btn btn-primary" ng-model="$ctrl.typeOfMessage" uib-btn-radio="1">Email</label>
              <label class="btn btn-primary" ng-model="$ctrl.typeOfMessage" uib-btn-radio="3">Both</label>
              <label class="btn btn-primary" ng-model="$ctrl.typeOfMessage" uib-btn-radio="2">SMS</label>
            </div>
          </div>
        </div>

        <div class="form-group slide-from-right"
             ng-class="{ 'has-success': messageForm.name.$dirty && messageForm.name.$valid,
           'has-error': messageForm.name.$dirty && messageForm.name.$invalid,
           'has-feedback': messageForm.name.$dirty && (messageForm.name.$valid || messageForm.name.$invalid) }">
          <label>Name</label>
          <input name="name" id="nameField" type="text" class="form-control" placeholder="Recipient"
                 ng-model="$ctrl.name"
                 ng-model-options="{ debounce: 500 }"
                 ng-minlength="2"
                 uib-typeahead="contact for contact in $ctrl.getContacts($viewValue, 'name')"
                 required>
          <span class="glyphicon glyphicon-ok form-control-feedback"
          ng-if="messageForm.name.$dirty && messageForm.name.$valid"></span>
          <span class="glyphicon glyphicon-remove form-control-feedback"
          ng-if="messageForm.name.$dirty && messageForm.name.$invalid"></span>
          <div class="help-block" ng-messages="messageForm.name.$error" ng-if="messageForm.name.$dirty && messageForm.name.$invalid">
            <p ng-message="minlength">Name is too short.</p>
            <p ng-message="required">Your name is required.</p>
          </div>
        </div>

        <div class="form-group slide-from-right" ng-if="$ctrl.typeOfMessage == 1"
             ng-class="{ 'has-success': messageForm.email.$dirty && messageForm.email.$valid,
             'has-error': messageForm.email.$dirty && messageForm.email.$invalid,
             'has-feedback': messageForm.email.$dirty && (messageForm.email.$valid || messageForm.email.$invalid) }">
          <div class="control-group">
            <label>Email</label>
            <input name="email" type="email" class="form-control" placeholder="hello@yiftee.com"
                   ng-model="$ctrl.email"
                   ng-model-options="{ debounce: 500 }"
                   uib-typeahead="contact for contact in $ctrl.getContacts($viewValue, 'email')"
                   required>
            <span class="glyphicon glyphicon-ok form-control-feedback"
            ng-if="messageForm.email.$dirty && messageForm.email.$valid"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback"
            ng-if="messageForm.email.$dirty && messageForm.email.$invalid"></span>
          </div>
          <div class="help-block" ng-messages="messageForm.email.$error" ng-if="messageForm.email.$dirty">
            <p ng-message="email">This needs to be a valid email.</p>
            <p ng-message="required">Your email is required.</p>
          </div>
        </div>

        <div class="form-group slide-from-right" ng-if="$ctrl.typeOfMessage == 2"
             ng-class="{ 'has-success': messageForm.sms.$dirty && messageForm.sms.$valid,
             'has-error': messageForm.sms.$dirty && messageForm.sms.$invalid,
             'has-feedback': messageForm.sms.$dirty && (messageForm.sms.$valid || messageForm.sms.$invalid) }">
          <label>Phone</label>
          <input name="sms" type="number" class="form-control" placeholder="8003334444"
                 ng-model="$ctrl.sms"
                 ng-model-options="{ debounce: 500 }"
                 ng-minlength="10"
                 ng-maxlength="11"
                 uib-typeahead="contact for contact in $ctrl.getContacts($viewValue, 'sms')"
                 required>
          <span class="glyphicon glyphicon-ok form-control-feedback"
          ng-if="messageForm.tel.$dirty && messageForm.tel.$valid"></span>
          <span class="glyphicon glyphicon-remove form-control-feedback"
          ng-if="messageForm.tel.$dirty && messageForm.tel.$invalid"></span>
          <div class="help-block" ng-messages="messageForm.sms.$error" ng-if="messageForm.sms.$dirty">
            <p ng-message="minlength">Phone number should be at least 10 digits.</p>
            <p ng-message="maxlength">Phone number should be at most 11 digits.</p>
            <p ng-message="required">Your phone is required.</p>
          </div>
        </div>

        <div class="form-group slide-from-right"
             ng-class="{ 'has-success': messageForm.message.$dirty && messageForm.message.$valid,
             'has-error': messageForm.message.$dirty && messageForm.message.$invalid,
             'has-feedback': messageForm.message.$dirty && (messageForm.message.$valid || messageForm.message.$invalid) }">
          <label>Message</label>
          <textarea name="message" class="form-control" cols="35" rows="4"
                    ng-model="$ctrl.message"
                    ng-maxlength="140"
                    required></textarea>
          <div class="help-block" ng-messages="messageForm.message.$error" ng-if="messageForm.message.$dirty">
            <p ng-message="maxlength">Message limit is 140 characters.</p>
            <p ng-message="required">Message is required.</p>
          </div>
        </div>

        <div class="form-group slide-from-right">
          <button type="submit" class="btn btn-default pull-right" ng-disabled="messageForm.$invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

