$primary-color: #03A9F4;
$dark-primary-color: #0288D1;
$light-primary-color: #B3E5FC;
$accent-color: #FF5722;
$text-and-icons: #FFFFFF;

$body-bg: $light-primary-color;

$navbar-default-bg: $dark-primary-color;
$navbar-default-brand-color: $text-and-icons;
$navbar-border-radius: 0;

$jumbotron-bg: $primary-color;
$jumbotron-heading-color: $text-and-icons;

$btn-default-bg: $primary-color;
$btn-default-color: $text-and-icons;

$brand-primary: $primary-color;

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.navbar {
  margin-bottom: 0;
}

.lead {
  color: $light-primary-color;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bottom-to-center {
  from {
    transform: translateY(30px)
  }
  to {
    transform: translateY(0);
  }
}

@keyframes right-to-center {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}

.appear-enter {
  animation: 2s appear;
}

.slide-from-right {
  animation: 2s right-to-center;
}

.slide-from-bottom {
  animation: 2.5s bottom-to-center;
}
